<%- include('../navbar') %>
<div class="container-fluid ps-0">
    <div class="row w-100 p-0">
        <div class="col-2" id="side" style="height:91vh;">
            <%- include('../side') %>
        </div>
        <div class="col-10">
            <h4 class="mt-3 border-start border-4 px-2">Appointments</h4>
            <table class="table mt-4">
                <thead class="table-dark">
                  <tr>
                      <th>Doctor Name</th>
                      <th>Patient Name</th>
                      <th>Description</th>
                      <th>Visit</th>
                      <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                    <% data.forEach(data => { %>
                        <tr>
                            <td><%-data.doctorId.doctorname %></td>
                            <td><%-data.patientId.patientname %></td>
                            <td><%-data.description %></td>
                            <td>Done</td>
                            <td><%-data.appointmentDate %></td>
                        </tr>
                        <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>