<%- include('../navbar') %>
<div class="container-fluid ps-0" id="jsPdf">
    <div class="row w-100 p-0">
        <div class="col-2" id="side" style="height:91vh;">
            <%- include('../side') %>
        </div>
        <div class="col-10">
            <h4 class="mt-3 border-start border-4 px-2">Patient Records</h4>
            <table class="table mt-4">
                <thead class="table-dark">
                  <tr>
                      <th>Name</th>
                      <th>Profile Picture</th>
                      <th>Address</th>
                      <th>Contact</th>
                      <th>Symptoms</th>
                      <th>Update</th>
                      <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <% data.forEach(data => { %>
                        <tr>
                            <td><%-data.patientname %></td>
                            <td>
                              <img src="/<%-data.image %>" alt="" style="height: 60px;width: 60px;">
                                </td>
                            <td><%-data.address %></td>
                            <td><%-data.contact %></td>
                            <td><%-data.symptom%></td>
                            <td>
                              <a href= "/admin/approve-update/<%= data._id%> " class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            <td>
                              <a href="/admin/delete-patient/<%= data._id%> " class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></i></a>
                            </td>
                        </tr>
                        <% }) %>

                </tbody>
              </table>
              <button onclick= generatePdf() class="btn btn-success">Generate PDF</button>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">

generatePdf=()=>{
  const doc = new jsPDF();
doc.html(document.querySelector('#jsPdf'))
doc.text("Hello world!", 10, 10);
doc.save("a4.pdf");
}
</script>

<script>

</script>